footer{
    margin-top: 20px;
    margin-bottom: 10px;

    #links{
        margin: auto;
        max-width: 1200px;
        text-align: center;
        a{
            margin-left: 30px;
            color: white;
        }
    }
}
